name: develop.yml
on:
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

jobs:
  build_and_push:
    name: HashTransfer - Build app & run tests.
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 25
        uses: actions/setup-java@v3
        with:
          java-version: '25'
          distribution: 'adopt'

      - name: Build and test
        working-directory: ./
        run: |
          export SHELL=/bin/bash
          chmod +x mvnw
          ./mvnw install
